.autocomplete-input {
    padding: 3px;
    width: 200px;
    text-align: left;
}
.autocomplete-scroll {
    width: 400px;
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}

.autocomplete-menu-item {
    text-align: left;
    position: relative;
    padding-top: 5px;
}

.autocomplete-menu-item, .ui-state-focus {
    border-bottom: 1px solid #ececec;
}

.autocomplete-menu-item-breadcrumb {
    clear: both;
    margin: 0 0 5px 5px;

    color: #34495e;
    font-size: 7pt;
    line-height: 7pt;
}

.autocomplete-menu-item-label {
    margin: 0 38px 3px 5px;
    max-width: 300px;

    color: #2c3e50;
    font-size: 11pt;
    font-family: "Raleway", "Helvetica Neue", Verdana, Arial, sans-serif;
}

.autocomplete-menu-item-value {
    margin: 0 5px 10px 0;
    max-width: 170px;
    float: right;

    color: #34495e;
    font-size: 9pt;
    font-family: "trebuchet ms", verdana, tahoma, sans-serif;
    font-style: italic;
}

.config-search-form {
    float: left;
    margin: 1px 0 0 20px;
}

.error {
    background-color: #c0392b;
}

.preloader {
    z-index: 11;
    width: 50px;
    height: 20px;
    right: 10px;
    top: 10px;
    position: absolute;
    background: url('../../images/oggetto_adminconfigsearch/preloaders/toggle.gif');
    background-size: cover;
}

.with-value  {
    float: left;
    margin: 0 0 10px 5px;
    max-width: 220px;
}

.wrapper {
    min-width: 1200px;
}